body{
    margin: 0;
    background-color: rgb(235, 232, 232);
    font-family: Arial, Helvetica, sans-serif
}

header{
    display: grid;
    background-color:#A9A9A9;
    padding: 0px;
    position: -webkit-sticky ;
    position: sticky;
    top: 0px;
    margin: 0px;
    border: 20px solid #A9A9A9;
    grid-template-columns:30px 458px 435px 181px 42px 134px 29px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);


    


}
.art a{
    font-size: 18px;
    display: inline;
    color: #262D22;
    text-decoration: none;
    font-weight: bold;
}
.coeur img{
    height: 20px;
}
.female img{

    height: 29px;
    margin-left: 100px;

}
#fe{
    display: flex;
    justify-content: flex-end;
}
header btn{
    grid-column-start: 4;
    grid-column-end: 5;
}
.custom-celect{
    display: flex;
    position: relative;
    font-family: Arial;
    flex-direction: row;
    justify-content: space-around;
}
.selected{
    font-size: 20px;
    width: 140px;
    background-color: #FEF5DA;
    color: #593647;
    border: 0px;
    padding-top: 3px;
    font-family: "times new roman";
}
.custom-celect h3{
    font-size: 18px;
    margin: 0px;
    color: #262D22;
}
.custom-celect a{
    display: flex;
    color: #262D22;
    text-decoration: none;

}
.art h1{
    font-size: 18px;
    display: inline;
    color: #593647;
    font-family: Arial, Helvetica, sans-serif;
}
article{
    margin: 0px 70px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;

}
article p{
    margin-top: 7%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: 400px;
    color: #1E2F47;
    width: 600px;
    
}

header input{
    border-radius: 10px;
    height: 30px;
    width: 200px;


}

.search-container {
    position: relative;
    width: 300px; /* Adjust width as needed */
    margin: 0; /* Centers the container */
    height: 1px;
  }
  
  .search-input {
    width: calc(100% - 40px); /* Adjust based on the button width */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px; /* Rounded corners on left side only */
    height: 7px;
  }
  
  .search-button {
    position:absolute;
    right: 0;
    top: 0;
    width: 34px; /* Adjust width as needed */
    height: 28px;
    border: none;
    background-color: #f0f0f0;
    color: #333;
    border-radius: 0 5px 5px 0; /* Rounded corners on right side only */
    cursor: pointer;

  }
  
  .search-button:hover {
    background-color: #e0e0e0;
  }
  
  .fa {
    /* Font Awesome styles (assuming you're using Font Awesome icons) */
    font-size: 4px;
    line-height: 40px; /* Centers the icon vertically */
    text-align: center;
  }
  #cycle img{
    width: 1356px;

  }
  .art a:hover{
    color: #595a20;
  }
  .custom-celect a:hover{
    color: #595a20;
  }
  .fa-magnifying-glass:before, .fa-search:before {
    content: "\f002";
    font-size: 14px;}

section h1{
    font-size: 29px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
section p{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 23px;
    margin-top: 62px;
}
section h1,p{
    margin: 30px;
}
section h2{
    margin: 10px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #2A3A23;
    font-size: 29px;
}
.sportball {
    margin-bottom: 37px;
    margin-top: 66px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.sport img{
    width: 141px;
}
.dess img{
    width: 34px;

}
.natation{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.natation img{
    width: 43px;


}
.box{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.box img{
    height: 41px;
    width: 41px;
    

}
.sportif img{
    height: 240px;
    border-radius:10px ;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
    
}
section{
    margin: 70px;
    border: 3px black solid;
    margin-top: 50px;
    padding:30px;
    padding-left: 60px;
    padding-right: 60px;
}
.ons{
    margin-top: 47px;
    display: flex;
    flex-direction: row;
}
.jabeur{
    font-weight: bold;
    text-decoration: underline;
    color: #142b4c;
}
.ayoub img{
    height: 248px;
    border-radius: 10px;
    margin-left: 330px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);

}
.Aloulou img{
    height: 332px;
    border-radius:10px ;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}
.boxeur{
    padding-top: 30px;
    padding-right: 200px;
    padding-left: 200px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}



footer h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: #5d5636;
    text-decoration: underline;
}
#bas {margin-top: -19px;
    display: flex;
      flex-direction: row;
      justify-content: center;
      justify-content: space-around;
      padding-top: 45px;
}
.sub-input {
  width: 224px;
  padding: 10px;
  font-size: 16px;
  border: 3px solid rgb(163, 159, 159);
  border-radius: 10px 10px 10px 10px;
  height: 14px;
  
}
.subs{
    color: #d1c17c;
    text-align: center;
  display: flex;
  flex-direction: column;
  gap: 17px;
  
}
#sbbt{
    text-align: center;
    width: 96px;
    height: 33px;
    margin-left: 81px;
    font-size: 15px;
    border-radius: 10px 10px 10px 10px;
    color: #ccc ;
    background-color: #5d5636;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}
.i{display: flex;
  align-items: center;
  gap: 10px;
  
}
.call{
    color: #ccc;
    text-align: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}
.fa-magnifying-glass:before, .fa-search:before {
  content: "\f002";
  font-size: 14px;}
footer{
    background-color: #031a0c;
}
